# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env
*.egg-info/
dist/
build/

# Django
*.log
local_settings.py
db.sqlite3
media/

# Node / React
node_modules/
frontend/dist/
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
.DS_Store
